---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import {iconPaths} from '../components/IconPaths';
const allProjects = await getCollection("projects");
const pageTitle = "Works";
---
<Layout pageTitle={pageTitle}>
    <h2>Projects</h2>
    <div class="projects__list">
        {
            allProjects.map((project, index)=>(
                <div class={`projects__content ${index % 2 === 0 ? 'left' : 'right'}`}>
                    <div class="projects__content-image">
                        <img src={project.data.image.url} alt="">
                    </div>
                    <div class="projects__content-description">
                        <h2>{project.data.title}</h2>
                        <p>
                            {project.data.description}
                        </p>
                        <div class="tecnologias">
                            {project.data.stack.split(', ').map((tech) => (
                                <div
                                    class="tecnologias__icon"
                                    title={tech}
                                    set:html={tech in iconPaths ? iconPaths[tech as keyof typeof iconPaths] : ""}
                                ></div>
                            ))}
                        </div>
                        <a class="btn" href={project.data.github} target="_blank" set:html={iconPaths.github}>
                            <span>Codigo</span>
                        </a>
                        <a class="btn" href={project.data.website} target="_blank" set:html={iconPaths.link}>
                            <span>Preview</span> 
                        </a>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>

