---
interface Props {
    url: string;
    image: string;
    title: string;
    date: string;
}

const { url, image, title, date } = Astro.props;
---
<div class="col">
    <div class="card mb-3">
        <img src={image} alt="" class="card-img-top">
        <div class="card-body">
            <a href={url}>
                <h3 class="m-0">{title}</h3>
            </a>
        </div>
    </div>
</div>

<!-- <li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <img
                class="card__img"
                width="226"
                height="127"
                src={image}
                alt="PostImage"
            />
        </div>
        <h3 class="card__title">
            {title}
        </h3>
    </a>
</li> -->
